
body {
    font-family: Sans-Serif;
    background-color: #101010;
    margin:0vw;
    background-image: url(images/dos6.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 60%;
    height:100vh;
}

header {
    background-color: #0A0A0A;
    color:#ffffff;
    display:flex;
    vertical-align: middle;
    box-shadow: 0px 2px 1px #000;
}

h1 {
    margin:auto 2%;
    flex:1 1 20%;
}

#scoreActuel {
    flex:1 0 20%;
    text-align: right;
}

#scoreActuel, #toursActuel {
    font-weight: bold;
    margin-right: 2%;
}

#openMasque, #rejouer, #aide {
    font-size:1.3em;
    padding-top: 1%;
    flex:0 1 4%;
    text-align: center;
    cursor:pointer;
    color:#404040;
}

#openMasque:hover, #rejouer:hover, #aide:hover{
    color:#FFFFFF;
}

#plateauDeCarte {
    display:flex;
    flex-wrap:wrap;
    padding:0%;
    margin: 0%;
    list-style-type: none;
}

#plateauDeCarte li {
    flex:1 1 12%;
    margin:0.4%;
    background-color: #050505;
    overflow: hidden;
    border-radius: 5px;
    cursor:pointer;
    border:2px dashed #404040;
}


#plateauDeCarte img {
    width:100%;
    height:102%;
    position:relative;
    top:-102%;
    transition: 0.3s top 0.5s ease-out;
}

section {
    max-width:100vh;
    margin: 1% auto;
}


#tableDesScores {
    width:100%;
    border-collapse: collapse;
}

#tableDesScores th {
    color:#FF0000;
    text-align: left;
}

#listeRegles {
    height:100%;
}

#listeRegles ul {
    padding-left:10%;
}

#listeRegles li {
    margin-bottom:1em;
}

#masque {
    position:fixed;
    top:0%;
    right:0%;
    bottom:0%;
    left:0%;
    background-color:#000000dd;
    z-index: 1000;
    display: none;
}

#conteneur {
    position:fixed;
    top:20vh;
    left:20vw;
    width:60vw;
    height:30vw;
    background-color: #101010;
    color:#FFFFFF;
    display:flex;
    flex-wrap: wrap;
}

#onglet {
    background-color:#FF0000;
    flex:0 1 25%;
    box-shadow:4px 0px 5px #000000;
}

#onglet h4 {
    cursor: pointer;
    margin:0vw;
    padding:1vw;
}

#information {
    flex:1 1 50%;
    padding: 1%;
    overflow: scroll;
}

#tableDesScores tr:nth-child(2n) {
    background-color:#202020;
}

#tableDesScores, #listeRegles {
    display:none;
}

#nouvellePartie {
    list-style-type: none;
    text-align: center;
    padding:0;
    margin:5% 0 0 0;
}


#identifiant {
    margin-top:5%;
    font-size:1.3em;
    background-color: #000000;
    color:#FFFFFF;
    border:none;
    padding:1%;
    width:48%;
    text-align: center;
    border-radius:30px 30px 0px 0px;
}

#valider {
    margin-top:0%;
    font-size:1.3em;
    color:#AA0000;
    background-color: inherit;
    padding:0.2%;
    width:50%;
    text-align: center;
    border:1px solid #AA0000;
    cursor:pointer;
    border-radius: 0px 0px 30px 30px;
}

#valider:hover {
    background-color: #AA0000;
    color:#FFFFFF;
}

#nouvellePartie img {
    width:30%;
}

#closeMasque {
    position:fixed;
    right:1%;
    top:1%;
    color:#FFFFFF;
}

#closeMasque:hover {
    color:#FF0000;
    cursor:pointer;
}

#onglet1 {
    background-color: #AA0000;
}


#messageFin {
    background-color:goldenrod;
    display:flex;
    padding:1%;
    border-radius:20px;
    position:fixed;
    left:40%;
    top:-30%;
    color:#FFFFFF;
    width:20%;
    transition: 0.7s top 2s ease-out;
}

#messageFin .fa-star {
    font-size: 3em;
    text-shadow: 0px 0px 20px #FFFF00;
    flex:0 1 20%;
}

#messageFin .fa-times {
    flex:0 1 5%;
    cursor:pointer;
}

#messageFin ul {
    list-style-type: none;
    margin:0;
    padding:0 4%;
    flex:1 0 50%;
}


#tousMesEmoji td {
    font-size:2em;
    cursor:pointer;
}

#tousMesEmoji td:hover {
    transform: scale(1.3);
}

#tousMesEmoji {
    background-color:#202020;
    position:fixed;
    top:25vh;
    left:76vw;
    height:30vw;
    overflow: scroll;
    display:none;
    box-shadow: -1px -1px 3px #000000;
    padding:0.5%;
}

#lienEmoji {
    margin-top:2%;
    cursor:pointer;
}
